*{
  padding: 0;
  margin: 0;
  
}
body{
	font-family: Arial, sans-serif;
}

.menu-bar{
  width: 100%;
  background-color: wheat;

}

.menu-bar ul{
	list-style: none;
  flex-wrap: wrap;
  padding: 0.5rem 0.5rem 0.5rem 0.1rem;
	margin: 0rem 4rem 0rem 2rem;
}
.menu-text{
  float: right;
  text-align: justify;
  line-height: 0%;
}

.menu-bar ul li{
	padding: 1rem;
	margin: 0.6rem;
  font-size: 1rem;
}

.menu-bar ul li:hover{
	background: #2bab0d;
	border-radius: 0.2rem;
}
        
    .container {
      max-width: 800px;
      margin: 0 auto;
      padding: 20px;
    }
    
    .attraction {
      margin-bottom: 20px;
      border: 1px solid #ddd;
      padding: 10px;
    }
    
    .attraction h2 {
      margin: 0;
    }
    
    .attraction p {
      margin: 10px 0;
			line-height: 1.5rem;
    }

.row{
	display: flex;
	flex-wrap: wrap;
	margin: auto;
	width: 100%;
	justify-content: space-between;
	align-items: flex-start;
}


.footer{
	color: #ff0000;
	font-family: cursive;
	background-color: wheat;
	width: 100%;
	
}
.globe{
  text-align: center;
  font-size: 7rem;
}

ul{
	list-style: none;
	margin: 0rem 4rem 0rem 2rem;
}

.footer-col ul li a{
	color: blue;
}
.footer-col ul li a:hover{
	color: blueviolet;
	padding-left: 0.5rem;
}
.social-media a{
	height: 2.5rem;
	width: 3rem;
	display: inline-block;
	background-color: transparent;
	text-align: center;
	line-height: 3rem;
	transition: all 0.3s case;
	margin: 0.6rem 0.6rem 0.6rem 0.6rem;
	border-radius: 50%;
	font-size: 2rem;
}
.social-media a i:hover{
	color: wheat;
	padding-left: 0.5rem;
	background-color: #2bab0d;
	border-radius: 100%;
}
.copy-right{
	font-size: 1rem;
}



